.jobs-center {
  width: 80vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.job-btn {
  background: transparent;
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
  transition: var(--transition);
}
.job-btn:hover {
  color: var(--primary-500);
  box-shadow: 0 2px var(--primary-500);
}
.active-btn {
  color: var(--primary-500);
  box-shadow: 0 2px var(--primary-500);
}

.job-company {
  text-transform: uppercase;
  color: var(--grey-700);
  background: var(--grey-300);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  margin: 0.75rem 0;
}
.job-date {
  color: var(--grey-500);
  letter-spacing: var(--letterSpacing);
  margin-bottom: 2rem;
}

.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.job-icon {
  color: var(--primary-500);
}

.job-desc p {
  color: var(--grey-700);
  line-height: 1.5;
}

@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .job-btn:hover {
    box-shadow: -2px 0px var(--primary-500);
  }
  .active-btn {
    box-shadow: -2px 0px var(--primary-500);
  }
}
